{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn">
        <div class="container-fluid">

            <article>

            </article>
            <br>
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6 center-block">
                    <div class="f-center">

                    </div>
                    <div>
                        <div class="panel" style="border:6px solid rgba(204, 204, 204,0.5)">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="imoon imoon-quill"></i> Input Informations</span>
                            </div>

                            <div class="panel-body">
                                {{ form_start(form, {'method': 'POST', 'action': 'gmap','attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="latitude">Latitude
                                            <input type="text" id="latitude" value=""/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="longitude">Longitude
                                            <input type="text" id="longitude" value=""/>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>

            </div>

        </div>
        <script>
            function success(position) {
                var mapcanvas = document.createElement('div');
                mapcanvas.id = 'mapcontainer';
                mapcanvas.style.height = '400px';
                mapcanvas.style.width = '600px';

                document.querySelector('article').appendChild(mapcanvas);

                var lati = position.coords.latitude;
                var longi = position.coords.longitude;

                document.getElementById("latitude").setAttribute("value", lati);
                document.getElementById("longitude").setAttribute("value", longi);

                var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                var options = {
                    zoom: 15,
                    center: coords,
                    mapTypeControl: false,
                    navigationControlOptions: {
                        style: google.maps.NavigationControlStyle.SMALL
                    },
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("mapcontainer"), options);

                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    title:"You are here!"
                });
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success);
            } else {
                error('Geo Location is not supported');
            }

        </script>
    </section>
{% endblock %}