{% extends 'layouts/head.twig' %}
{% block content %}
<section id="content" class="table-layout animated fadeIn borderedBackground">
    <div id="printed-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 center-block">
                <p><strong>2.1.1. Indoor Installation Checklist</strong></p>
            </div>
            <div class="col-md-2 pull-right">
                <button type="button" onclick="print('printed-area')" class="btn btn-success pull-right hidden-print" style="margin-right: 5px;width: 100%;vertical-align: middle;"><i class="fa fa-print"></i> Cetak</button>
            </div>
        </div>
        <br/>
        <div class="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
            <div class="panel panel-visible" id="spy2">
                <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">

                    <div class="col-md-12 text-center">
                        <p><strong>Equipment overall condition</strong></p>
                    </div>

                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">procedure</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>N/A</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Visually the cabinets for any damage</td>
                            <td><input type="radio"name="mygroup" value="1" style="display: inline-block; text-align: center"></td>
                            <td><input type="radio"name="mygroup" value="0"></td>
                            <td><input type="radio" name="mygroup" value=""></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Check that the cabinets doors and looks operate correctly</td>
                            <td><input type="radio"name="mygroup1" value="1"></td>
                            <td><input type="radio"name="mygroup1" value="0"></td>
                            <td><input type="radio" name="mygroup1" value=""></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                    <div class="col-md-12 text-center">
                        <p><strong>Site Documentation</strong></p>
                    </div>
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">procedure</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>N/A</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>3</td>
                        <td>Check that the equipment is installed according to the as plan site design package</td>
                        <td><input type="radio"name="mygroup2" value="1"></td>
                        <td><input type="radio"name="mygroup2" value="0"></td>
                        <td><input type="radio" name="mygroup2" value=""></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Check that the indoor cable ladder is installed according to the as plan side design package(applicable for indoor Equipment)</td>
                        <td><input type="radio"name="mygroup3" value="1"></td>
                        <td><input type="radio"name="mygroup3" value="0"></td>
                        <td><input type="radio" name="mygroup3" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                    <div class="col-md-12 text-center">
                        <p><strong>Civil Works Check</strong></p>
                    </div>

                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">procedure</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>N/A</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5</td>
                        <td>Check that the cabinets have been securely fastened and are leveled correctly</td>
                        <td><input type="radio"name="mygroup4" value="1"></td>
                        <td><input type="radio"name="mygroup4" value="0"></td>
                        <td><input type="radio" name="mygroup4" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Check that indoor cable ladder above the cabinet has been installed correctly(applicable for indoor Equipment)</td>
                        <td><input type="radio"name="mygroup5" value="1"></td>
                        <td><input type="radio"name="mygroup5" value="0"></td>
                        <td><input type="radio" name="mygroup5" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Check that the DDF are grounded to the main grounding bus bar</td>
                        <td><input type="radio"name="mygroup6" value="1"></td>
                        <td><input type="radio"name="mygroup6" value="0"></td>
                        <td><input type="radio" name="mygroup6" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                    <div class="col-md-12 text-center">
                        <p><strong>Equipment overall condition</strong></p>
                    </div>

                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">procedure</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>N/A</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>8</td>
                        <td>Check that all equipment internal cables are correctly installed and labeled</td>
                        <td><input type="radio"name="mygroup7" value="1"></td>
                        <td><input type="radio"name="mygroup7" value="0"></td>
                        <td><input type="radio" name="mygroup7" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Check that the cabinet blanking panels have been installed</td>
                        <td><input type="radio"name="mygroup8" value="1"></td>
                        <td><input type="radio"name="mygroup8" value="0"></td>
                        <td><input type="radio" name="mygroup8" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                    <div class="col-md-12 text-center">
                        <p><strong>Equipment overall condition</strong></p>
                    </div>

                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">procedure</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>N/A</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>10</td>
                        <td>Check each the equipment rack is grounded to the main grounding bus bar and labeled</td>
                        <td><input type="radio"name="mygroup9" value="1"></td>
                        <td><input type="radio"name="mygroup9" value="0"></td>
                        <td><input type="radio" name="mygroup9" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Check that the A-Bis and A PCM cables are connected to the correct position of DDF</td>
                        <td><input type="radio"name="mygroup10" value="1"></td>
                        <td><input type="radio"name="mygroup10" value="0"></td>
                        <td><input type="radio" name="mygroup10" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Check that the alarm cabling has been connected from the BTS to the DDF</td>
                        <td><input type="radio"name="mygroup11" value="1"></td>
                        <td><input type="radio"name="mygroup11" value="0"></td>
                        <td><input type="radio" name="mygroup11" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Check that the extension cabinet cables are correctly connected and labeled</td>
                        <td><input type="radio"name="mygroup12" value="1"></td>
                        <td><input type="radio"name="mygroup12" value="0"></td>
                        <td><input type="radio" name="mygroup12" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Check that the feeder jumper cables are tightened all the BTS</td>
                        <td><input type="radio"name="mygroup13" value="1"></td>
                        <td><input type="radio"name="mygroup13" value="0"></td>
                        <td><input type="radio" name="mygroup13" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Check that the external cabinet cabling has been cable tied to the cable ladder</td>
                        <td><input type="radio"name="mygroup14" value="1"></td>
                        <td><input type="radio"name="mygroup14" value="0"></td>
                        <td><input type="radio" name="mygroup14" value=""></td>
                        <td></td>
                    </tr>
                        <td>16</td>
                        <td>Check that the indoor feeder cable labelling is correct </td>
                    <td><input type="radio"name="mygroup15" value="1"></td>
                    <td><input type="radio"name="mygroup15" value="0"></td>
                    <td><input type="radio" name="mygroup15" value=""></td>
                    <td></td>
                    <tr>
                        <td>17</td>
                        <td>Check that the DC power cable is the correct size and is terminated correctly</td>
                        <td><input type="radio"name="mygroup16" value="1"></td>
                        <td><input type="radio"name="mygroup16" value="0"></td>
                        <td><input type="radio" name="mygroup16" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Check the transmission cables, DC Cables and feeder jumpers are be correctly labeled</td>
                        <td><input type="radio"name="mygroup17" value="1"></td>
                        <td><input type="radio"name="mygroup17" value="0"></td>
                        <td><input type="radio" name="mygroup17" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Check that Accessory equipment is installed correctly</td>
                        <td><input type="radio"name="mygroup18" value="1"></td>
                        <td><input type="radio"name="mygroup18" value="0"></td>
                        <td><input type="radio" name="mygroup18" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                    <div class="col-md-12 text-center">
                        <p><strong>Equipment overall condition</strong></p>
                    </div>

                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">procedure</th>
                        <th>Pass</th>
                        <th>Fail</th>
                        <th>N/A</th>
                        <th>Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>20</td>
                        <td>Check that all installation and packing materials have been removed from the site</td>
                        <td><input type="radio"name="mygroup19" value="1"></td>
                        <td><input type="radio"name="mygroup19" value="0"></td>
                        <td><input type="radio" name="mygroup19" value=""></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>
    <script>
        function print(printed) {
            var isi = document.getElementById(printed);
            var popupWin = window.open('', '_blank', 'width=1000,height=700');
            popupWin.document.open()
            popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}assets/dist/css/print.css" /><link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}assets/bootstrap/css/bootstrap.min.css" /></head><body onload="window.print();window.close();">' + isi.innerHTML + '</body></html>');
            popupWin.document.close();
        }
    </script>
{% endblock %}