{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn">
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
    </section>
{% endblock %}