{% extends 'layouts/head.twig' %}
{% block content %}
    <section id="content" class="table-layout animated fadeIn borderedBackground">
        <div id="printed-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 center-block">
                    <p><strong>2.1.2 Outdoor Installation Checklist</strong></p>
                </div>
                <div class="col-md-2 pull-right">
                    <button type="button" onclick="print('printed-area')" class="btn btn-success pull-right hidden-print" style="margin-right: 5px;width: 100%;vertical-align: middle;"><i class="fa fa-print"></i> Cetak</button>
                </div>
            </div>
            <br/>
            <div class="padding:30px 10px 10px 10px;background-color: #fff;margin-top: 10px;border:6px solid rgba(204, 204, 204,0.5)">
                <div class="panel panel-visible" id="spy2">
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th colspan="2">SITE : </th>
                            <th colspan="3">SITE CONFIG : </th>
                            <th colspan="2">DATE : </th>
                        </tr>
                        <tr>
                            <th colspan="7" style="text-align: center;background:#e9e9e9">Equipment Overall Condition</th>
                        </tr>
                        <tr>
                            <th colspan="3" class="center">Procedure</th>
                            <th class="center">Pass</th>
                            <th class="center">Fail</th>
                            <th class="center">N/A</th>
                            <th style="width:200px" class="center">Remarks</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>21</td>
                                <td>Visually the antennas and feeders for any installation damage</td>
                                <td><input type="radio"name="mygroup" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup" value="0"></td>
                                <td><input type="radio" name="mygroup" value=""></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>22</td>
                                <td>Check that the correct type of antenna has been installed</td>
                                <td><input type="radio"name="mygroup1" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup1" value="0"></td>
                                <td><input type="radio" name="mygroup1" value=""></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align:center;">Feeders</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>23</td>
                                <td>Check that the banding radius of all feeders is greater than 20 x </td>
                                <td><input type="radio"name="mygroup2" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup2" value="0"></td>
                                <td><input type="radio" name="mygroup2" value=""></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>24</td>
                                <td>Check that outdoor feeder labeling is correct at the top and the bottom of the tower</td>
                                <td><input type="radio"name="mygroup3" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup3" value="0"></td>
                                <td><input type="radio" name="mygroup3" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>25</td>
                                <td>Check that all top jumpers to antenna connections are tight</td>
                                <td><input type="radio"name="mygroup4" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup4" value="0"></td>
                                <td><input type="radio" name="mygroup4" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">Connectors</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>26</td>
                                <td>Check that all top feeder connectors are tight</td>
                                <td><input type="radio"name="mygroup5" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup5" value="0"></td>
                                <td><input type="radio" name="mygroup5" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>27</td>
                                <td>Check that all top feeders to jumper connections are tight</td>
                                <td><input type="radio"name="mygroup6" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup6" value="0"></td>
                                <td><input type="radio" name="mygroup6" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>Check that all top jumpers to antenna connections are tight</td>
                                <td><input type="radio"name="mygroup7" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup7" value="0"></td>
                                <td><input type="radio" name="mygroup7" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center">Weather sealing</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>29</td>
                                <td>Check all top grounding kits are weather-sealed correctly</td>
                                <td><input type="radio"name="mygroup8" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup8" value="0"></td>
                                <td><input type="radio" name="mygroup8" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td>Check all feeders to jumper connections are weather-sealed correctly</td>
                                <td><input type="radio"name="mygroup9" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup9" value="0"></td>
                                <td><input type="radio" name="mygroup9" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>31</td>
                                <td>Check all jumpers to antenna connections are weather-sealed correctly</td>
                                <td><input type="radio"name="mygroup10" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup10" value="0"></td>
                                <td><input type="radio" name="mygroup10" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">Antenna Stellwork</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center;">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>32</td>
                                <td>Check that the antenna suporting steelwork is correctly installed</td>
                                <td><input type="radio"name="mygroup11" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup11" value="0"></td>
                                <td><input type="radio" name="mygroup11" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>33</td>
                                <td>Check all antenna mounting clamps and brackets have been tightened</td>
                                <td><input type="radio"name="mygroup12" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup12" value="0"></td>
                                <td><input type="radio" name="mygroup12" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: center;">Antenna Installation Check</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center;">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>34</td>
                                <td>Check that the antennas are mounted at the correct height</td>
                                <td><input type="radio"name="mygroup13" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup13" value="0"></td>
                                <td><input type="radio" name="mygroup13" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>35</td>
                                <td>Check that the direction of all antennas in all sectors is correct</td>
                                <td><input type="radio"name="mygroup14" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup14" value="0"></td>
                                <td><input type="radio" name="mygroup14" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="4" style="text-align:center;">Antenna Installation Date</th>
                            </tr>
                            <tr>
                                <th>Antenna</th>
                                <th>Sector 1</th>
                                <th>Sector 2</th>
                                <th>Sector 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Height</td>
                                <td><input type="radio"name="mygroup15" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup15" value="0"></td>
                                <td><input type="radio" name="mygroup15" value=""></td>
                            </tr>
                            <tr>
                                <td>Direction</td>
                                <td><input type="radio"name="mygroup16" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup16" value="0"></td>
                                <td><input type="radio" name="mygroup16" value=""></td>
                            </tr>
                            <tr>
                                <td>Downtiit M/E</td>
                                <td><input type="radio"name="mygroup17" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup17" value="0"></td>
                                <td><input type="radio" name="mygroup17" value=""></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align:center;">Outdoor Site Documentation</th>
                            </tr>
                            <tr>
                                <th colspan="2" style="text-align: center;">Procedure</th>
                                <th>Pass</th>
                                <th>Fail</th>
                                <th>N/A</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>36</td>
                                <td>Check that the antenna layout is according to the site drawing</td>
                                <td><input type="radio"name="mygroup18" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup18" value="0"></td>
                                <td><input type="radio" name="mygroup18" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>37</td>
                                <td>Check that the feeder cable ladder is installed as per the site drawing</td>
                                <td><input type="radio"name="mygroup19" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup19" value="0"></td>
                                <td><input type="radio" name="mygroup19" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>38</td>
                                <td>Check that the feeder gland plate is installed as per the site drawing(applicable for Indoor Equipment)</td>
                                <td><input type="radio"name="mygroup20" value="1" style="text-align: center;"></td>
                                <td><input type="radio"name="mygroup20" value="0"></td>
                                <td><input type="radio" name="mygroup20" value=""></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Remarks</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script>
        function print(printed) {
            var isi = document.getElementById(printed);
            var popupWin = window.open('', '_blank', 'width=1000,height=700');
            popupWin.document.open()
            popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}assets/dist/css/print.css" /><link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}assets/bootstrap/css/bootstrap.min.css" /></head><body onload="window.print();window.close();">' + isi.innerHTML + '</body></html>');
            popupWin.document.close();
        }
    </script>
{% endblock %}